{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-body text-center">
                <h2 class="card-title">Bienvenido al Sistema de Administración Crunchyroll</h2>
                <img src="https://curved.de/media/cache/article_head/cms/2024/05/crunchyroll-anime-1920-1080-article-head-4126.jpg?v=2025110135" 
                     alt="Crunchyroll" class="img-fluid rounded my-4" style="max-height: 300px;">
                <p class="card-text">
                    Sistema de gestión para administrar suscripciones, usuarios y contenido 
                    de la plataforma Crunchyroll.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}